@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.mw-708 {
    max-width: 708px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.pb-36 {
    padding-bottom: 36px;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: blue;
}

.text-sky {
    color: #01C8FF;
}

.fs-36 {
    font-size: 36px;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.ff_poppins {
    font-family: 'poppins', sans-serif;
}

.mb-130 {
    margin-bottom: 130px;
}

.pt-20 {
    padding-top: 20px;
}

.location {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.city {
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.mr-17 {
    margin-right: 17px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.bg-img {
    background-image: url(../images/png/group3.png);
    /* background-image: url(/assets/images/png/men.image.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.gap-50 {
    gap: 50px;
}

.max-w-1044 {
    max-width: 1044px;
}

.w-100 {
    width: 100%;
}

.mw-765 {
    max-width: 765px;
}

.mb-73 {
    margin-bottom: 73px;
}

.mt-36 {
    margin-top: 36px;
}

.btn {
    width: 118px;
    height: 46px;
    padding: 11px 28px;
    border-radius: 23px;
    background-color: #2C49FE;
    border: none;
}

.class {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
}

.bg-black {
    background-color: black;
}

.pt-81 {
    padding-top: 81px;
}

.col-5 {
    width: 41.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.pb-36 {
    padding-bottom: 36px;
}

.mw-346 {
    max-width: 346px;

}

.pb-22 {
    padding-bottom: 22px;
}

.pl-15 {
    padding-left: 15px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}

.pb-11 {
    padding-bottom: 11px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-13 {
    padding-bottom: 13px;
}

.col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.fw-546 {
    font-weight: 546px;
}

.w-50 {
    width: 50%;

}

.mw-765 {
    max-width: 765px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.sign {
    width: 100%;
    height: 46px;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    justify-content: space-between;
    background-color: #2C49FE;
    border: none;
}

.pt_50 {
    padding-top: 50px;
}

.pt_40 {
    padding-top: 40px;
}

.pt_79 {
    padding-top: 79px;
}

.pb_46 {
    padding-bottom: 46px;
}

.pt_132 {
    padding-top: 132px;
}

.pt_153 {
    padding-top: 153px;
}

.pt_265 {
    padding-top: 265px;
}

.pt_163 {
    padding-top: 163px;
}

.find {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
}

.svg {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.pb-3 {
    padding-bottom: 3px;
}

.hisar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_2 {
    max-width: 920px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.up {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.mw-633 {
    max-width: 633px;
}

.get {
    padding: 11px 28px 11px 28px;
    border-radius: 28px;
    border: none;
    background-color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.pb-5 {
    padding-bottom: 5px;
}

.edit {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.pb-15 {
    padding-bottom: 15px;
}

.make {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.pb-18 {
    padding-bottom: 18px;
}

.what {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.pb-33 {
    padding-bottom: 33px;
}

.bg {
    background-image: url(../images/png/blue-girl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.mw-338 {
    max-width: 338px;
}

.home {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.pb-135 {
    padding-bottom: 135px;
}

.pt-137 {
    padding-top: 137px;
}

.pt-21 {
    padding-top: 21px;
}

.log {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
}

.lorem {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.max-w-1044 {
    max-width: 1044px;
}

.learn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-134 {
    padding-bottom: 134px;
}

.parent {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #000000B2;
}

.dolor {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000B2;
}

.text-align-center {
    text-align: center;
}

.first {

    height: 42px;
    border-radius: 5px;
    border: 1px solid #00000066;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;

}

.last {
    height: 42px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00000066;
}

.sit {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.mw-543 {
    max-width: 543px;
}

.our {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.mb-16 {
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.join {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.mt-37 {
    margin-top: 37px;
}

.amet {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.leo {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.about {
    width: 100%;
    height: 124px;
    border-radius: 5px;
    border: 1px solid #00000066;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    resize: none;
}

.email {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00000066;
}

.mw-270 {
    max-width: 270px;
}

.show-more {
    color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    max-width: 90px;
    max-height: 64px;
    font-family: 'poppins';
    font-style: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background-color: #2D3CAE87;
    padding: 28px 45px;
    display: flex;
    align-items: center;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.font {
    font-family: 'Poppins' sans-serif, ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000B2;
}

.card {
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    padding: 24px;
}

.circle {
    width: 79px;
    height: 79px;
    fill: #FFF;
    border-radius: 50%;
    border: 1px solid blue;
    background-color: #FFF;

}

.pl-17 {
    padding-left: 17px;
}

.pos-absolute2 {
    position: absolute;
    /* bottom: 0;
    right: 0; */
    bottom: 20px;
    right: 12px;
}

.pl-13 {
    padding-left: 11px;
}

.pr-13 {
    padding-right: 13px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pos-rel {
    position: relative;
}

.pos-absolute {
    position: absolute;
    top: -44px;
    left: 90px;
}

.pt-50 {
    padding-top: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.justify-content-end {
    justify-content: end;
}

.card:hover {
    box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06);

}

.p-absolute {
    position: absolute;
    left: 46%;
    top: 40%;
}

.pr-24 {
    padding-right: 24px;
}

.check1 {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mw-270 {
    max-width: 270px;
}

.pos-absolute1 {
    position: absolute;
    top: 46%;
    right: 13%;
}

.search {
    width: 471.9998779296875px;
    height: 8px;
    top: 352px;
    left: 715px;
}

.btn2 {
    width: 185px;
    height: 70px;
    border-radius: 150px;
    background: #FFF;
    border: none;
}

.mt-19 {
    margin-top: 19px;
}

.flex-column {
    flex-direction: column;
}

.ml- .check {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.col-9 {
    width: 75%;
    padding-right: 12px;
    padding-left: 12px;
}

.go {
    width: 185px;
    height: 70px;
    border-radius: 150px;
    background: #FFF;
}

.line1 {
    position: relative;
}

.line {
    position: relative;
}

.min-100vh {
    min-height: 100vh;
}

.bg-blue {
    background: #2C49FEBD;
    border-radius: 100px;
    max-width: 962px;
}

.pb-25 {
    padding-bottom: 25px;
}

.sharing {
    color: blue;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;

}

.pt-10 {
    padding-top: 10px;
}

.pt-123 {
    padding-top: 123px;
}

.pb-104 {
    padding-bottom: 104px;
}

.box {
    width: 260px;
    height: 198px;
    border-radius: 5px;
    border: 1px solid #2C49FE;
}

.box:hover {
    background: #2C49FE;
    color: #FFF;
}

.grow-1 {
    flex-grow: 1 !important;
}
.pt-13{
    padding-top: 13px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb-33{
    margin-bottom: 33px;
}
.box:hover p {
    color: #FFF;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.pooja {
    color: blue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 220px;

}

.pb-9 {
    padding-bottom: 9px;
}

.line2 {
    position: relative;
}

.d-infl {
    display: inline-flex;
}

.d-none {
    display: none;
}

@media(max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        position: relative;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    .mt-lg-50 {
        margin-top: unset;
    }

    label[for="menubar"]>span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: blue;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .z-index {
        z-index: 1;
    }

    ul.mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #01C8FF;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
    }
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .line2::after {
        content: "";
        position: absolute;
        left: 3%;
        right: 6%;
        height: 3px;
        background-color: #FFF;
        top: 48%;
    }

    .line2::before {
        content: "";
        position: absolute;
        width: 3px;
        /* height: 30%; */
        background-color: #FFF;
        left: 49%;
        top: 7%;
        bottom: 7%;
    }

    .d-block {
        display: block;
    }

    .fs-sm-39 {
        font-size: 39px;
    }

}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .line2::before {
        content: unset;
    }

    .line2::after {
        content: unset;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .fs-md-50 {
        font-size: 50px;
    }

    .line::after {
        content: "";
        position: absolute;
        width: 3px;
        top: 10%;
        bottom: 10%;
        background-color: #fff;
        right: -49px;
    }

    .line::before {
        content: "";
        position: absolute;
        width: 3px;
        top: 10%;
        bottom: 10%;
        background-color: #fff;
        left: -49px;
    }
}

@media (min-width:992px) {

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .justify-content-lg-end {
        justify-content: end;
    }

    .col-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .justify-content-lg-start {
        justify-content: start;
    }

    .line1::after {
        content: "";
        position: absolute;
        width: 3px;
        top: 10%;
        bottom: 10%;
        background-color: #fff;
        right: -62px;
    }

    .line::after {
        content: "";
        position: absolute;
        width: 3px;
        top: 10%;
        bottom: 10%;
        background-color: #fff;
        right: -62px;
        height: 80%;
    }

    .line::before {
        content: "";
        position: absolute;
        width: 3px;
        top: 10%;
        bottom: 10%;
        background-color: #fff;
        left: -44px;
        height: 80%;
    }

    .fs-lg-64 {
        font-size: 64px;
    }
}